<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>head</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/show/head/css/head.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/show/head/css/mws.style.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/show/head/css/mws.theme.css">
    <style>
        .clearfix{background:url("__PUBLIC__/admin/show/head/images/mws-header-bg.png")}
        #mws-logo-container{background:url("__PUBLIC__/admin/show/head/images/mws-header-bg.png")}
        #mws-user-zhongjian{background:url("__PUBLIC__/admin/show/head/images/mws-header-bg.png");height: 100%;width: 100%;}
        #mws-user-tools{
            position: relative;top: -59px;
        }
        body{margin:0; padding:0;}
    </style>
</head>
<body>
<div id="mws-header" class="clearfix">
    <!-- Logo Wrapper -->
    <div id="mws-logo-container">
        <div id="mws-logo-wrap">
            <img src="__PUBLIC__/admin/show/head/images/mws-logo.png" alt="mws admin" />
        </div>
    </div>
    <div id="mws-user-zhongjian"></div>
    <div id="mws-user-tools" class="clearfix">
        <!-- User Functions -->
        <div id="mws-user-info" class="mws-inset">
            <div id="mws-user-photo">
                <img src="__PUBLIC__/admin/show/head/images/profile.jpg" alt="User Photo" />
            </div>
            <div id="mws-user-functions">
                <div id="mws-username">
                    Hello, John Doe
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="__PUBLIC__/jquery-3.4.1.js"></script>
</html>